.card{
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.1);    
}

/* Dans votre fichier CSS personnalisé */
@media (max-width: 767px) {
    .mb-mobile {
      margin-bottom: 120px; /* Ajustez la valeur de la marge selon vos besoins */
    }
  }
  