<div class="container py-4">
    <h2 class="mb-0 text-center">Mon portfolio</h2>
    <h3 class="fw-light fs-5 text-center">Liste des demarches que vous pouvez faire en ligne</h3>
    <div class="row gy-4 gy-md-0 mt-4">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="https://picsum.photos/300/150?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projet 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                        sollicitudin.</p>
                    <a class="btn btn-primary btn-rounded" routerLink="/birth">Commencez ...</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                
                <img src="https://picsum.photos/300/150?random=2" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projet 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                        sollicitudin.</p>
                    <a class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="https://picsum.photos/300/150?random=3" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projet 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                        sollicitudin.</p>
                    <a class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="https://picsum.photos/300/150?random=4" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projet 4</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                        sollicitudin.</p>
                    <a class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>