  <header class="py-4">
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand text-uppercase fw-bold" routerLink="/">
          <span class="bg-danger bg-gradient p-1 rounded-3 text-light">Mairie</span>
          <span class="bg-warning bg-gradient p-1 rounded-3 text-light">De</span> 
          <span class="bg-success bg-gradient p-1 rounded-3 text-light">LABE</span>  
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/demandes">Demandes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>