<div class="form-card w-75 bg-light">
  <h2 class="text-center">Acte De Naissance</h2>   
  <div class="container mt-2">
    <div class="row gy-4 gy-md-0 mb-7 mb-mobile">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="progress-bar">
      <div class="progress" [style.width]="(currentStep - 1) * 50 + '%'">
        {{ currentStep }}
      </div>
    </div>
  
    <div *ngIf="currentStep === 1">
    <div class="circle" ></div>
      <h3>L'Enfant / Demandeur</h3>
      <form>
        <!-- Formulaire Étape 1 -->
        <div class="form-group">
          <label>Prénoms:</label>
          <input type="text" class="form-control" formControlName="demandeurNom">
        </div>
        <div class="form-group">
          <label>Nom: </label>
          <input type="text" class="form-control" formControlName="demandeurNom">
        </div>
        <div class="form-group mt-2">
          <label for="sexeLabel">Sexe : </label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="masculinCheckbox" name="sexe" value="masculin">
            <label class="form-check-label" for="masculinCheckbox">M</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="femininCheckbox" name="sexe" value="feminin">
            <label class="form-check-label" for="femininCheckbox">F</label>
          </div>
        </div> 
        <div class="form-group">
          <label for="rangNaissanceMere">Rang de naissance chez la mère :</label>
          <input class="form-control" type="number" id="rangNaissanceMere" name="rangNaissanceMere">
        </div>  
        <div class="form-group">
          <label for="dateNaissanceMere">Né(e) le :</label>
          <input class="form-control" type="date" id="dateNaissanceMere" name="dateNaissanceMere">
        </div>
                     
        <div class="form-group">
          <label>Lieu de Naissance:</label>
          <input type="text" class="form-control" formControlName="demandeurPrenom">
        </div>
        <div class="form-group">
          <label>Nationalité:</label>
          <input type="email" class="form-control" formControlName="demandeurEmail">
        </div>
        <button type="button" class="btn btn-primary my-3" (click)="onNext()">Suivant</button>
      </form>
    </div>
  
    <div *ngIf="currentStep === 2">
        <div class="circle"></div> 
      <h2>Étape 2: Détails des Parents</h2>
      <form>
        <!-- Formulaire Étape 2 -->
        <div class="form-group">
          <label>Nom du Parent:</label>
          <input type="text" class="form-control" formControlName="parentNom">
        </div>
        <div class="form-group">
          <label>Prénom du Parent:</label>
          <input type="text" class="form-control" formControlName="parentPrenom">
        </div>
        <div class="form-group"> 
            <label>Adresse Email du Parent:
                <small>(Obligatoire pour la confirmation de l’inscription)
                    <i class="fa fa-info-circle text-muted"></i></small>
            </label>
            <input type="email" class="form-control" formControlName="parentEmail">
        </div>
        <div class="d-flex justify-content-between align-items-center">
        <button type="button" class="btn btn-primary my-3" (click)="onPrevious()">Précédent</button>
        <button type="button" class="btn btn-primary my-3 ml-auto" (click)="onSubmit()">Soumettre</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
</div>
  
  






   <!--  A revoir après 
   <div class="form-card">
    <h2>Birth Certificate Information</h2>
    <form (ngSubmit)="onFormSubmit(f)" #f="ngForm" class="container mt-5">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input type="text" id="nom" class="form-control" formControlName="monPere" name="nom" required>
        </div>
      
        <div class="form-group">
          <label for="prenom">Prénom :</label>
          <input type="text" id="prenom" class="form-control"  name="prenom" required>
        </div>
      
        <div class="form-group">
          <label for="dateNaissance">Date de naissance :</label>
          <input type="date" id="dateNaissance" class="form-control" name="dateNaissance" required>
        </div>
      
        <div class="form-group">
          <label for="lieuNaissance">Lieu de naissance :</label>
          <input type="text" id="lieuNaissance" class="form-control" name="lieuNaissance" required>
        </div>
      
        <div class="form-group">
          <label for="numeroActe">Numéro d'acte de naissance :</label>
          <input type="text" id="numeroActe" class="form-control" name="numeroActe" required>
        </div>
      
      
        <button type="submit" class="btn btn-primary my-3 " [disabled]="!demandeExtraitForm.valid" >Suivant</button>
      </form>
    </div>
    -->
